html {
    background-color: rgb(18, 18, 19);
    color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('recursos/background\ modern.avif');
    background-size: 200%;
}

#img-flecha {
    padding: 2px ;
    position: relative;
}

#regresar { 
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    display: flex;
    height: 40px;
    width: 180px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.651);
    border-radius: 7px;
    border: solid 1px white;
    text-decoration: none;
    color: whitesmoke;
    position: fixed;
    left: 15px;
    align-items: center;
    background-image: url('recursos/instagram\ texture.jpg');

}

.mainflex {
    flex-direction: column;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.titulo {
    font-weight: 600;
    color: aliceblue;
    font-size: 30px;
    background-color: rgb(0, 0, 0) ;
    width: fit-content;
    padding: 2px;
}

.texto {
    margin-left: 5px;
    font-size: 20px;
}

.texto_2 {
    width: 400px;
    margin-left: 5px;
    font-size: 20px;
}

.texto_3 {
    margin-left: 5px;
    font-size: 17px;
    font-style: italic;
}

.usuario {
    font-weight: 800;
}

.primer-p {
    font-size: 25px;
}

.jaja {
    background-color: rgb(255, 255, 0);
    padding: 2px;

}

#ig {
    border: solid 1px rgb(0, 0, 0);
    border-radius: 9px ;
    padding: 2px;
}

.perfil {
    width: 70% ;
    

}

.perfil_box {
    border: 1px solid #000;
    border-radius: 12px;
    width: fit-content;
    background-color: #5f5f5f56;
    display: flex;
    justify-content: flex-start;
    padding: 7px 7px 0px 0px;
    box-shadow: 0 0 50px #161616fd;
}

.captura {
    border-radius: 5px;
    margin:15px;
    width: 150px;
    box-shadow: 0 0 20px #00000060;
}

.captura_box {
    display: flex;
    justify-content: start;
    align-items: center;
}