@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: "playwriteMX";
  src: url("recursos/fuentes/playwriteMX.ttf") format("truetype");
}

@font-face {
  font-family: "alfaSlabOne";
  src: url("recursos/fuentes/alfaslabone.ttf") format("truetype");
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: -webkit-flex;
    display:flex;
    font-family: "Sans-Serif";
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #666;
}

header, footer {
    width: 100%;
}

header {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "playwriteMX";
    font-size: 0.7rem;
    font-weight: 500;
    padding:1em;
    background: linear-gradient(150deg,#fff 50%, #f9d34c 50%);
    text-shadow: 0.2rem 0 5px #111a;
}

header span {
    margin-right: 0.3em;
    padding-bottom: 0.7em ;
}

header p {
    margin-right:0.2rem;
}

header p::first-letter {
    display: inline;
    font-size: 3.5rem;
    font-family: "Times New Roman";
    font-weight:bold;
}

nav {
    width: 100%;
    background-color: #f9d34c;
    border-top:0.1rem solid #444;
    position: relative;
    overflow-y: hidden;
}

nav ul {
    display:-webkit-flex;
    display: flex;
    list-style: none;
    overflow: auto;
    font-weight: bold;
}

nav li {
    flex:1;
}

nav li a {
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-left: 0.1rem solid #111b;
    font-size: 1.3rem;
    color:#111;
    padding: 0.1em 1em;
    height:100%;
    -webkit-tap-highlight-color: transparent;
}

nav li a i {
    font-size: 2rem;
    padding:0;
    margin:0;
}

nav li a:hover {
    transition: 0.4s;
    background-color: #111;
    color:#f9d34c ;
}

main {
    flex:1;
    width: clamp(75%, 100%,100vh);
    margin: auto;
    font-size: 1.5rem;
    background-color: #131019;
    color:#dedbe5;
    padding: 1.3rem;
}

footer {
    background-color: #eeecf1;
    padding:1.2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.biografia {
    margin: 1.5rem 0;
    color:#ffd852;
    border-radius: 1.2rem;
    overflow: hidden;
    border: 0.2rem solid #eef;
}

.biografia div {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #ffd852;
}

.biografia img {
    width: 12rem;
    position:relative;
    border-radius: 100px;
    top:4rem;
    border:0.2rem solid #fff;
    animation: perfil_img 5s both infinite alternate;
}

.biografia p {
    padding:6rem 1rem 1rem 1rem;
    font-size: 1.3rem;
    color:#eef;
    font-weight: 700;
    font-family: Sans-Serif;
}

.gallery {
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.gallery h2 {
    font-size: 1.5rem;
    color: #ffd852;
    padding:1.3rem;
    font-weight: 300;
    font-family: "alfaSlabOne";
    text-transform: uppercase;
    text-align: center;
}

.gallery_flex {
    display: flex;
    justify-content: start;
    flex-flow: wrap;
    gap:0.4rem;
    
}

.gallery img {
    flex:1;
    max-height: 15rem;
    object-fit: cover;
    filter:  grayscale(1);
    border-radius: 0.5rem;
    border: 0.1rem solid #111;
}


@keyframes perfil_img {
    0% {
        height:100%;
        width:14rem;
        border-radius: 10px;
    }
    
    25% {
        width: 8rem;
        height: 50%;
        border-radius:35px;
    }
    
    40% {
        width:100%;
        height: 75%;
        filter: invert();
    }
    
    50% {
        border-radius:5px;
        filter: grayscale();
        width:10rem;
        height: 95%;
    }
    
    75% {
        border-radius:100px;
        filter: contrast(2);
        width:11rem;
        height: 100%;
        
    }
    
    100% {
        border-radius:15px;
        height: 75%;
        width:15rem;
        filter: blur(4px);
    }
}




@media screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1290px) {
    html {
        font-size: 18px;
    }
}