@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: "playwriteMX";
  src: url("recursos/fuentes/playwriteMX.ttf") format("truetype");
}

@font-face {
  font-family: "alfaSlabOne";
  src: url("recursos/fuentes/alfaslabone.ttf") format("truetype");
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: -webkit-flex;
    display:flex;
    font-family: "Times New Roman";
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #666;
}

header, footer {
    width: 100%;
}

header {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "playwriteMX";
    font-size: 0.7rem;
    font-weight: 500;
    padding:1em;
    background: linear-gradient(150deg, #eef 40% , #ab9bd8);
    text-shadow: 0.2rem 0 10px #eee;
}

header span {
    margin-right: 0.3em;
    padding-bottom: 0.7em ;
}

header p {
    margin-right:0.2rem;
}

header p::first-letter {
    display: inline;
    font-size: 3.5rem;
    font-family: "Times New Roman";
    font-weight:bold;
}

nav {
    display:none;
    width: 100%;
    background-color: #eef;
    border-top:0.1rem solid #444;
    position: relative;
    overflow-y: hidden;
}

nav ul {
    display:-webkit-flex;
    display: flex;
    list-style: none;
    overflow: auto;
    font-weight: bold;
    padding-right: 2.4rem;
}

nav:before {
    content:" ";
    position: absolute;
    width:2rem;
    height: 100%;
    background-color:#eef ;
    box-shadow: -1rem 0 20px 15px #eef;
    top:0;
    right:0;
}

nav li {
    flex:1;
}

nav li a {
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    color:#111;
    padding: 0.4em 1em;
    height:100%;
    -webkit-tap-highlight-color: transparent;
}

nav li a i {
    font-size: 2.5rem;
}

nav li a:hover {
    transition: 0.4s;
    border-radius: 0.6rem;
    background-color: #1112;
    color:#5035ae;
}

main {
    flex:1;
    width: clamp(75%, 100%,100vh);
    margin: auto;
    font-size: 1.5rem;
    background-color: #131019;
    color:#dedbe5;
    padding: 1.3rem;
}

footer {
    background-color: #eeecf1;
    padding:1.2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.biografia {
    padding:0 1rem 1rem 1rem;
    text-align: center;
    color:#111;
    border-radius: 1.2rem;
    background: linear-gradient(60deg, #dda8a8, #a8bfdd, #ddd6a8);
}

.biografia h2 {
    font-family: "playwriteMX";
    font-size: 1.9rem;
    font-weight: 800;
    padding:1rem;
}

.biografia p {
    font-size: 1.4rem;
    font-weight: 400;
}

.gallery {
    margin: 1rem 0;
    border-radius: 1.5rem;
    background-color: #dde;
    padding:0.4rem;
}

.gallery h2 {
    font-size: 1.7rem;
    padding:1.3rem;
    text-align: center;
    color: #111;
    font-family: "playwriteMX";
}

.gallery_flex {
    display:-webkit-flex;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.6rem;
    
}

.gallery img {
    height:16rem;
    border-radius: 1.3rem;
    flex: 1;
    object-fit: cover;
    border: 0.1rem solid #111;
}





@media screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1290px) {
    html {
        font-size: 18px;
    }
}